html, body {
    height: 100%;
    margin: 0;
}
.admin-body{
    background-color: #e1fad7;
}
.body{
    background-color: antiquewhite;
}
main {
    margin-top: 100px; /* （※）の高さに合わせる */
}
.title-area{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.summary-area{
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}
.summary{
    font-size: 1rem;
}

/*  */
.contents{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (max-width: 1024px){
    .title{
        font-size: 2rem;
    }
    .content-row{
        width: 94%;
        display: grid;
    }
    .left{
        width: 100%;
    }
    .center{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .title{
        font-size: 3rem;
    }
    .content-row{
        width: 98%;
        display: flex;
    }
    .left{
        width: 20%;
    }
    .center{
        width: 60%;
    }
    .right{
        width: 20%;
    }
}